@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic);

* { margin: 0; padding: 0; line-height: 1; font-size: 100% }
li { list-style: none; }
a { text-decoration: none; }
img { border: none 0; vertical-align: top; }
html, body { height:100%; }
body {

	font-family: '나눔고딕', Nanum Gothic, Arial;
	font-size: 14px;
	color: #565656;
}

*::selection {
   background-color: #000;
   color: #fff;
}

div a {
	display: block;
	width: 100%;
	height: 100%;
}

/* top fixed */

nav.topbar {
	width: 100%; height: 35px;
	position: fixed; top: 0; right: 0; left: 0;
	z-index: 0;
	background: #fff;
	border-bottom: 1px solid #f0f0f0;
	text-align: center;
}

nav.topbar > ul { overflow: hidden; position: relative; }
nav.topbar > ul li { float: left; line-height: 35px; }
nav.topbar > ul li a { color: #565656; line-height: 35px; font-size: 12px; }
nav.topbar > ul li a:hover { color: #000; text-decoration: underline; }
i.fa { color: #4e4e4e; line-height: 35px; }
nav.topbar > ul li { width: 31%; }
nav.topbar > ul li:nth-child(2) { text-align: left; }
nav.topbar > ul li:nth-child(4) { text-align: right; }
nav.topbar > ul li:first-child, nav.topbar ul li:last-child { width: 3%; }

/* view */

.wrapper { width: 1100px; margin: 0 auto; margin-top: 100px; }
ul.pf-info { overflow: hidden; }
ul.pf-info > li { font-size: 12px; line-height: 22px; }
ul.pf-info > li:first-child { float: left; width: 50%; padding-right: 5%; }
ul.pf-info > li:nth-child(2) { float: left; width: 20%; padding-right: 5%; }
ul.pf-info > li:last-child { float: left; width: 20%; padding-right: 0; }
ul.pf-info > li span { font-weight: bold; }

/* biography */
p.title {

	font-family: 'Crimson Text', serif;
	font-weight: 600;
	font-style: italic;
	font-size: 30px; color: #000;
	margin-bottom: 30px;
	letter-spacing: -0.03em;
}

div.body { margin-top: 50px; text-align: center; }
p.pf-desc, p.pf-desc a {
	font-family: 'Crimson Text', serif;
	font-weight: 600;
	font-style: italic;
	font-size: 18px; color: #000;
	margin: 50px 0;
}
p.pf-desc a:hover { text-decoration: underline; }

/* color dot */
ul.colors { overflow: hidden; }
ul.colors li { font-size: 12px; line-height: 18px; letter-spacing: -0.05em; float: left; margin-right: 10px; margin-bottom: 0; }

.orange { margin-top: 5px; width: 9px; height: 9px; background-color: #f47320; }
.gray { margin-top: 5px; width: 9px; height: 9px; background-color: #565e6b; }
.gray2 { margin-top: 5px; width: 9px; height: 9px; background-color: #e1e1e1; }
.black { margin-top: 5px; width: 9px; height: 9px; background-color: #000; }
.white { margin-top: 5px; width: 7px; height: 7px; border: 1px solid #ddd; }
.yellow { margin-top: 5px; width: 9px; height: 9px; background-color: #f4ed47; }
.red { margin-top: 5px; width: 9px; height: 9px; background-color: #fc2b41; }
.gold { margin-top: 5px; width: 9px; height: 9px; background-color: #a08866; }
.yellow2 { margin-top: 5px; width: 9px; height: 9px; background-color: #ffcc00; }
.blue { margin-top: 5px; width: 9px; height: 9px; background-color: #265fa6; }
.red2 { margin-top: 5px; width: 9px; height: 9px; background-color: #ef4939; }
.gray3 { margin-top: 5px; width: 9px; height: 9px; background-color: #f6f6f6; }

div.gobutton { margin-top: 5px; width: 100px; height: 25px; text-align: center; background: #2d2d2d; transition: all .3s; }
div.gobutton a { text-transform: uppercase; color: white; line-height: 25px; font-size: 10px; }
div.gobutton:hover { background: #737373; }