@charset "utf-8";

/* Containder[S] */

/* main_visual */
.main_visual{width:100%;height:566px}
.main_visual .slide_wrap{position:relative;width:100%;height:100%;}
.main_visual .flex-viewport{z-index:10}
.main_visual .slide_wrap .slide_list{overflow:hidden;height:566px;position:relative;}
.main_visual .slide_wrap .slide_list li{overflow:hidden;float:left;position:relative;width:100%;min-width:1020px;height:100%;}
.main_visual .slide_wrap .slide_list li>img{display:block;position:absolute;top:0;left:50%;transform:translate(-50%,0); -webkit-transform:translate(-50%,0); -moz-transform:translate(-50%,0); -o-transform:translate(-50%,0); -ms-transform:translate(-50%,0);min-width:2000px;}


.main_visual .slide_wrap .slide_list li .visual_txt{position:relative;width:1020px;height:100%;padding:0 210px 0 210px;margin:0 auto;}
.main_visual .slide_wrap .slide_list li .visual_txt:after{display:inline-block;content:'';height:100%;vertical-align:middle;}
.main_visual .slide_wrap .slide_list li .visual_txt .txt_wrap{display:inline-block;vertical-align:middle;}
.main_visual .slide_wrap .slide_list li .visual_txt img{display:inline-block;vertical-align:top;}
.main_visual .slide_wrap .slide_list li .visual_txt .btn_view{display:block;position:relative;width:84px;height:25px;margin-top:30px;padding:6px 10px 5px;background-color:#872900;border-radius:3px;font-size:12px;font-weight:bold;color:#fff;z-index:100}
.main_visual .slide_wrap .slide_list li .visual_txt .btn_view:after{display:block;content:'';position:absolute;top:8px;right:10px;width:5px;height:9px;background:url(../img/sp_ico.png) no-repeat -300px 0;}
.main_visual .slide_wrap .slide_list li .visual_txt .visual_ico{margin-top:30px;}
.main_visual .slide_wrap .slide_list li .visual_txt .visual_ico span{margin-right:20px;}
.main_visual .slide_wrap .flex-direction-nav{position:absolute;top:0;left:50%;width:1020px;height:10px;margin-left:-510px;z-index:10;}
.main_visual .slide_wrap .flex-direction-nav a{display:block;overflow:hidden;position:absolute;top:250px;width:24px;height:25px;background:url(../img/sp_btn.png) no-repeat 0 0;text-indent:-999em;z-index:100}
.main_visual .slide_wrap .flex-direction-nav .flex-prev{left:177px;background-position:0 -190px}
.main_visual .slide_wrap .flex-direction-nav .flex-next{right:210px;background-position:0 -220px}
.main_visual .slide_wrap .flex-direction-nav .flex-prev:hover{background-position:-30px -190px}
.main_visual .slide_wrap .flex-direction-nav .flex-next:hover{background-position:-30px -220px}


/* exhibition_area */
.exhibition_area{width:1020px;margin:30px auto 0;}
.list_banner{overflow:hidden;}
.list_banner li{float:left;}
.list_banner li a{display:block;}
.list_banner li a img{display:block;width:100%;}

.list_ex_banner{margin-top:30px;border:1px solid #e2e2e2;border-width:1px 0;}
.list_ex_banner:after{display:block;content:'';clear:both}
.list_ex_banner li{float:left;position:relative;width:340px;border-right:1px solid #e2e2e2;}
.list_ex_banner li:first-child{border-left:1px solid #e2e2e2;}
.list_ex_banner li a{display:block;}
.list_ex_banner li a img{display:block;width:100%;}
.list_ex_banner li a .ico{position:absolute;top:-1px;right:0;}

.user_promotion{height:465px;margin-top:30px;border:1px solid #e2e2e2;}
.user_promotion:after{display:block;content:'';clear:both;}
.user_promotion .user_tab{float:left;position:relative;width:340px;height:463px;padding-top:38px;border-right:1px solid #f5f5f5;background:url(../img/bg_user.png) no-repeat 0 0;}
.user_promotion .user_tab dl{}
.user_promotion .user_tab dt{overflow:hidden;width:200px;height:87px;margin:0 auto;background:url(../img/sp_txt.png) no-repeat 0 -90px;text-indent:-999em}
.user_promotion .user_tab dd{}
.user_promotion .user_tab dd .btn_tab{overflow:hidden;width:276px;margin:28px auto 0;}
.user_promotion .user_tab dd .btn_tab li{overflow:hidden;float:left;width:50%;border-radius:2px;text-align:center;line-height:30px;}
.user_promotion .user_tab dd .btn_tab li a{display:block;background-color:#e2e2e2;font-size:14px;font-weight:bold;color:#666;}
.user_promotion .user_tab dd .btn_tab li a.active{background-color:#2f2622;color:#fff;}
.user_promotion .user_tab dd p{margin-top:28px;font-size:14px;text-align:center;color:#2f2622;line-height:20px;}
.user_promotion .user_tab dd p span{margin-right:5px;font-size:18px;}
.user_promotion .user_tab img{display:block;position:absolute;bottom:-28px;right:0;}

.user_promotion .user_tab_content{float:left;width:678px;height:463px;}
.user_promotion .slider_wrap{display:none;overflow:hidden;position:relative;width:100%;height:100%;}
.user_promotion .slider_wrap:first-child{display:block;}
.user_promotion .slider_wrap .btn{position:absolute;top:50%;margin-top:-12px;}
.user_promotion .slider_wrap .btn_prev{left:0;}
.user_promotion .slider_wrap .btn_next{right:0;}
.user_promotion .user_product{height:100%;}
.user_promotion .user_product>li{overflow:hidden;float:left;position:relative;width:50%;height:100%;}
.user_promotion .user_product>li:after{display:block;content:'';position:absolute;top:0;bottom:0;left:50%;width:1px;background-color:#f5f5f5}
.user_promotion .user_product>li dl{}
.user_promotion .user_product>li dt{font-size:14px;font-weight:bold;color:#2f2622;}
.user_promotion .user_product>li dd{color:#872900;}
.user_promotion .user_product>li dd strong{margin-right:3px;font-size:14px;}
.user_promotion .user_product .list_product_big{float:left;width:50%;height:100%;padding:30px;text-align:center}
.user_promotion .user_product .list_product_big .img_box{position:relative;width:279px;height:279px;}
.user_promotion .user_product .list_product_big .img_box img{display:block;width:100%;}
.user_promotion .user_product .list_product_big .img_box span[class*=ico_big]{position:absolute;bottom:-20px;right:-20px;}
.user_promotion .user_product .list_product_big .product_info{margin-top:33px;}
.user_promotion .user_product .list_product_big .product_info dl{}
.user_promotion .user_product .list_product_big .product_info dt{}
.user_promotion .user_product .list_product_big .product_info dd{margin-top:10px;}
.user_promotion .user_product .list_product_big .product_info .list_ico{margin-top:15px;}
.user_promotion .user_product .list_product{float:left;position:relative;width:50%;height:100%;}
.user_promotion .user_product .list_product:after{display:block;content:'';position:absolute;top:50%;left:0;right:0;height:1px;background-color:#f5f5f5;}
.user_promotion .user_product .list_product li{overflow:hidden;height:50%;;padding:30px;}
.user_promotion .user_product .list_product li a{display:block;overflow:hidden;}
.user_promotion .user_product .list_product li .img_box{float:left;width:130px;height:130px;}
.user_promotion .user_product .list_product li .img_box img{display:block;width:100%;}
.user_promotion .user_product .list_product li .product_info{float:left;position:relative;height:130px;padding:10px 0 0 20px;}
.user_promotion .user_product .list_product li .product_info dl{}
.user_promotion .user_product .list_product li .product_info dt{}
.user_promotion .user_product .list_product li .product_info dd{margin-top:10px;}
.user_promotion .user_product .list_product li .list_ico{position:absolute;bottom:10px;left:20px;min-width:130px;}

/* direct_area */
.direct_area{position:relative;width:100%;height:654px;margin-top:30px;padding-top:48px;background-color:#f7f7f7;border-top:1px solid #e6e6e6;}
.direct_area:before,.direct_area:after{display:block;content:'';position:absolute;}
.direct_area:before{top:0;left:0;width:434px;height:275px;background:url(../img/bg_direct.png) no-repeat;}
.direct_area:after{bottom:0;right:0;width:595px;height:395px;background:url(../img/bg_direct2.png) no-repeat;}
.direct_area>dl{position:relative;width:1020px;margin:0 auto;text-align:center;z-index:10}
.direct_area>dl>dt{display:inline-block;position:relative;padding-bottom:11px;font-size:25px;font-weight:bold;color:#2f2622;vertical-align:top;}
.direct_area>dl>dt:after{display:block;content:'';position:absolute;bottom:0;left:0;width:100%;height:3px;background-color:#2f2622;}
.direct_area>dl>dd{margin-top:40px;}
.direct_area>dl>dd ul{overflow:hidden;}
.direct_area>dl>dd ul li{float:left;;width:221px;margin-left:45px;}
.direct_area>dl>dd ul li:first-child{margin-left:0;}
.direct_area>dl>dd ul li img{display:block;width:100%;}
.direct_area>dl>dd ul li dl{}
.direct_area>dl>dd ul li dt{font-size:25px;color:#383838;}
.direct_area>dl>dd ul li dd{margin-top:6px;font-size:13px;color:#80787c;line-height:17px;}
.direct_area>dl>dd ul li .btn_more{display:inline-block;width:49px;height:21px;margin-top:17px;padding-top:5px;background-color:#554332;font-size:11px;font-weight:bold;color:#bbb4ad}

/* healthy_recipes_area */
.healthy_recipes_area{width:1020px;margin:0 auto;padding-top:48px;}
.healthy_recipes_area>dl{text-align:center}
.healthy_recipes_area>dl>dt{display:inline-block;position:relative;padding-bottom:11px;font-size:25px;font-weight:bold;color:#2f2622;vertical-align:top;}
.healthy_recipes_area>dl>dt:after{display:block;content:'';position:absolute;bottom:0;left:0;width:100%;height:3px;background-color:#2f2622;}
.healthy_recipes_area>dl>dd{overflow:hidden;margin-top:30px;text-align:left}
.healthy_recipes_area .view_product.type{float:left;width:255px;height:486px;}
.healthy_recipes_area .recipes_box{float:right;width:745px;height:486px;border:1px solid #e2e2e2;}
.healthy_recipes_area .recipes_box .food_info{overflow:hidden;padding:30px;background-color:#edeae6;}
.healthy_recipes_area .recipes_box .food_info img{float:left;width:195px;height:195px;}
.healthy_recipes_area .recipes_box .food_info dl{float:right;width:450px}
.healthy_recipes_area .recipes_box .food_info dt{margin-top:12px;font-size:25px;color:#333;line-height:24px;}
.healthy_recipes_area .recipes_box .food_info dd{margin-top:10px;font-size:12px;font-weight:bold;color:#959595;line-height:20px;}
.healthy_recipes_area .recipes_box .recipes_reply{position:relative;padding:30px}
.healthy_recipes_area .recipes_box .recipes_reply p{position:relative;padding:2px 0 4px 70px;font-size:15px;color:#2f2622;}
.healthy_recipes_area .recipes_box .recipes_reply p:after{display:block;content:'';position:absolute;top:0;left:0;width:49px;height:49px;background:url(../img/sp_ico.png) no-repeat 0 -240px;}
.healthy_recipes_area .recipes_box .recipes_reply p strong{display:block;margin-top:5px;font-size:18px;}
.healthy_recipes_area .recipes_box .recipes_reply .list_reply{overflow:hidden;height:122px;margin-top:15px;}
.healthy_recipes_area .recipes_box .recipes_reply .list_reply li{border-top:1px solid #f5f5f5;line-height:40px;}
.healthy_recipes_area .recipes_box .recipes_reply .list_reply li:first-child{border-top:0;}
.healthy_recipes_area .recipes_box .recipes_reply .list_reply li a{display:block;}
.healthy_recipes_area .recipes_box .recipes_reply .list_reply dl{overflow:hidden;}
.healthy_recipes_area .recipes_box .recipes_reply .list_reply dt{float:left;width:17%;padding-left:10px;font-size:12px;font-weight:bold;color:#5a442f;}
.healthy_recipes_area .recipes_box .recipes_reply .list_reply dd{float:left;width:83%;font-size:12px;color:#888;}
.healthy_recipes_area .recipes_box .recipes_reply .btn_reply{position:absolute;top:30px;right:30px;width:139px;}

/* season_area */
.season_area{width:100%;height:655px;margin-top:60px;padding-top:48px;background:url(../img/bg_season.png) 50% 0}
.season_area>dl{width:1020px;margin:0 auto;text-align:center;}
.season_area>dl>dt{display:inline-block;position:relative;padding-bottom:11px;font-size:25px;font-weight:bold;color:#2f2622;vertical-align:top;}
.season_area>dl>dt:after{display:block;content:'';position:absolute;bottom:0;left:0;width:100%;height:3px;background-color:#2f2622;}
.season_area>dl>dd{overflow:hidden;margin-top:50px;text-align:left}
.season_area .view_product.type2{position:relative;float:left;width:254px;height:433px;}
.season_area .right_slide{float:left;position:relative;width:766px;}
.season_area .right_slide .btn{position:absolute;top:50%;margin-top:-13px;}
.season_area .right_slide .btn_prev{left:0;}
.season_area .right_slide .btn_next{right:0;}
.season_area .list_goods.type{overflow:hidden;height:433px;}
.season_area .list_goods.type li{width:256px;margin-right:-1px;}

/* best_goods_area */
.best_goods_area{width:1020px;margin:0 auto;padding-top:30px;}
.best_goods_area .best_goods_ev{overflow:hidden;}
.best_goods_area .best_goods_info{float:left;width:505px;height:383px;}
.best_goods_area .best_goods_info .slide_wrap{float:left;position:relative;width:254px;height:100%;text-align:center}
.best_goods_area .best_goods_info .list_goods.type2{}
.best_goods_area .best_goods_info .list_goods.type2 li{border:0;}

.best_goods_area .flex-control-nav{overflow:hidden;position:absolute;bottom:15px;left:0;width:100%;text-align:center;z-index:100;}
.best_goods_area .flex-control-nav li{margin-left:5px;}
.best_goods_area .flex-control-nav li:first-child{margin-left:0;}
.best_goods_area .flex-control-nav li a{display:block;overflow:hidden;width:8px;height:8px;background:url(../img/sp_btn.png) no-repeat -170px 0;text-indent:-999em;z-index:10}
.best_goods_area .flex-control-nav li a.flex-active{background-position:-190px 0}

.best_goods_area .best_goods_info .slide_wrap .slide_btn.type{position:absolute;bottom:15px;left:0;width:100%;}









.best_goods_area .best_goods_info .best_comment{float:left;width:251px;height:100%;padding:28px 27px 0;background-color:#2e2622;}
.best_goods_area .best_goods_info .comment_txt{text-align:center}
.best_goods_area .best_goods_info .comment_txt dt{position:relative;padding-top:67px;font-size:22px;font-weight:bold;color:#fff;}
.best_goods_area .best_goods_info .comment_txt dt:after{display:block;content:'';position:absolute;top:0;left:50%;width:92px;height:51px;margin-left:-46px;background:url(../img/sp_ico.png) no-repeat -60px -240px;}
.best_goods_area .best_goods_info .comment_txt dd{margin-top:12px;font-size:12px;font-weight:bold;color:#786d68;line-height:17px;}
.best_goods_area .best_goods_info .comment_txt dd p{margin-top:12px;}
.best_goods_area .best_goods_info .comment_txt dd p span{margin-left:6px;}
.best_goods_area .best_goods_info .comment_st{margin-top:15px;padding-top:20px;border-top:1px solid #443831;}
.best_goods_area .best_goods_info .comment_st dl{overflow:hidden;margin-top:10px;}
.best_goods_area .best_goods_info .comment_st dl:first-child{margin-top:0;}
.best_goods_area .best_goods_info .comment_st dl:first-child dt{font-size:14px;font-weight:bold;color:#fff;}
.best_goods_area .best_goods_info .comment_st dl:first-child dd{}
.best_goods_area .best_goods_info .comment_st dt{float:left;width:50%;font-size:13px;color:#a0918b;}
.best_goods_area .best_goods_info .comment_st dd{float:left;width:50%}

.best_goods_area .goods_dealing{float:right;width:505px;}
.best_goods_area .goods_dealing .view_product.type2{}
.best_goods_area .goods_dealing .view_product.type2 .slide_wrap{position:relative;}

.best_goods_area .list_best_goods{position:relative;margin-top:30px;}
.best_goods_area .list_best_goods>dl{}
.best_goods_area .list_best_goods>dl>dt{font-size:25px;font-weight:bold;color:#333;}
.best_goods_area .list_best_goods>dl>dd{}
.best_goods_area .list_best_goods>dl>dd .tab_type{position:absolute;top:2px;right:0;}
.best_goods_area .list_best_goods>dl>dd .list_goods.type{height:513px;margin-top:10px;}
.best_goods_area .list_best_goods>dl>dd .list_goods.type li{width:256px;margin-left:-1px;}
.best_goods_area .list_best_goods>dl>dd .list_goods.type li span[class*=ico_num]{margin:0 0 18px -10px;}
.best_goods_area .list_best_goods>dl>dd .list_goods.type li .goods_ico{bottom:28px;}

.best_goods_area .list_new_goods{position:relative;margin-top:30px;}
.best_goods_area .list_new_goods>dl{}
.best_goods_area .list_new_goods>dl>dt{font-size:25px;font-weight:bold;color:#333;}
.best_goods_area .list_new_goods>dl>dd{overflow:hidden;margin-top:10px;}
.best_goods_area .list_new_goods .view_product.type2{position:relative;float:left;width:254px;height:433px;}
.best_goods_area .list_new_goods .right_slide{float:left;position:relative;width:766px;}
.best_goods_area .list_new_goods .right_slide .btn{position:absolute;top:50%;margin-top:-13px;}
.best_goods_area .list_new_goods .right_slide .btn_prev{left:0;}
.best_goods_area .list_new_goods .right_slide .btn_next{right:0;}
.best_goods_area .list_new_goods .list_goods.type{overflow:hidden;height:433px;}
.best_goods_area .list_new_goods .list_goods.type li{width:256px;margin-right:-1px;}


/* orga_member_app */
.orga_member_app{width:1020px;margin:60px auto 50px;}
.orga_member_app ul{overflow:hidden;}
.orga_member_app ul li{float:left;position:relative;width:510px;height:133px}
.orga_member_app ul li img{width:100%;}
.orga_member_app ul li a{display:block;overflow:hidden;position:absolute;text-indent:-999em}
.orga_member_app ul li .btn_orga_join{top:0;left:0;width:462px;height:122px}
.orga_member_app ul li .btn_app_ios{bottom:11px;left:194px;width:125px;height:27px}
.orga_member_app ul li .btn_app_android{bottom:11px;right:61px;width:125px;height:27px}





/*.orga_member_app{width:1020px;margin:55px auto 0;}
.orga_member_app ul{overflow:hidden;}
.orga_member_app ul li{float:left;position:relative;height:125px;}
.orga_member_app ul li:first-child{padding-right:48px;margin-right:50px;border-right:1px solid #d8d8d8;}
.orga_member_app ul li img{float:left;}
.orga_member_app ul li .member_app_txt{float:left;position:relative;height:100%;}
.orga_member_app ul li .member_app_txt dl{padding-left:40px;}
.orga_member_app ul li .member_app_txt dt{font-size:20px;font-weight:bold;color:#333;line-height:22px;}
.orga_member_app ul li .member_app_txt dd{margin-top:5px;font-size:12px;color:#555;line-height:17px;}
.orga_member_app ul li .member_app_txt .btn_area{position:absolute;bottom:0;width:100%;padding-left:40px;font-size:0;}
.orga_member_app ul li .member_app_txt .btn_area a{display:inline-block;padding:7px 10px 6px;width:49%;margin-left:2%;background-color:#5f4d45;font-size:12px;font-weight:bold;color:#f5f4f2;text-align:center}
.orga_member_app ul li .member_app_txt .btn_area a:first-child{margin-left:0;}
.orga_member_app ul li .member_app_txt .btn_area a:nth-child(2){background-color:#2e2622;}*/







/* orga_quality */
.orga_quality{padding:30px 0;margin-top:60px;background-color:#eeebe6;}
.orga_quality ul{overflow:hidden;width:1020px;margin:0 auto;}
.orga_quality ul li{float:left;position:relative;width:20%;text-align:center;}
.orga_quality ul li:after,.orga_quality ul li:first-child:before{display:block;content:'';position:absolute;top:0;bottom:-5px;right:0;width:2px;background:url(../img/bg_line2.png) repeat-y 0 0;}
.orga_quality ul li:first-child:before{right:auto;left:0;}
.orga_quality ul li img{display:block;margin:0 auto;}
.orga_quality ul li dl{margin-top:12px;}
.orga_quality ul li dt{font-size:17px;font-weight:bold;color:#333;}
.orga_quality ul li dd{margin-top:5px;font-size:12px;font-weight:bold;color:#666;line-height:17px;}
.orga_quality ul li .btn_pro_view{display:inline-block;width:62px;margin-top:15px;padding:5px 0 4px;border:1px solid #bdbdbd;font-size:11px;font-weight:bold;color:#777;vertical-align:top;}

/* community_area */
.community_area{overflow:hidden;width:1020px;height:290px;margin:60px auto 0;border-right:1px solid #e1e1e1;}
.community_area>ul{float:left;width:33%;height:100%;padding:0 30px;border-left:1px solid #e1e1e1;}
.community_area>ul:nth-child(2){width:34%;}
.community_area>ul>li{position:relative}
.community_area>ul>li:first-child{height:170px;}
.community_area>ul>li dl{}
.community_area>ul>li .tit_community{margin-bottom:17px;font-size:16px;font-weight:bold;color:#2b1c09;}
.community_area>ul>li dt{}
.community_area>ul>li dd{font-size:13px;color:#79766c;}
.community_area>ul>li dd p{line-height:20px;}
.community_area>ul>li .btn_more{position:absolute;top:0;right:30px;}
.community_area>ul>li img{display:block;position:absolute;top:35px;right:0;}
.community_area>ul>li img.img_community4{top:20px}

.community_area .channel_box{}
.community_area .channel_box dd strong{display:block;margin-bottom:8px;font-size:24px;color:#8b9d2b;}
.community_area .channel_box dd ul{}
.community_area .channel_box dd ul li{margin-top:4px;}
.community_area .channel_box dd ul li:first-child{margin-top:0;}
.community_area .channel_box2{}
.community_area .channel_box2 dd strong{display:block;overflow:hidden;width:120px;height:26px;margin-bottom:10px;background:url(../img/sp_txt.png) no-repeat 0 -290px;text-indent:-999em}
.community_area .channel_box2 .btn_read_more{display:inline-block;margin-top:10px;padding:5px 10px 4px;border:1px solid #acacac;font-weight:bold;font-weight:bold;color:#999;}
.community_area .channel_box3{}
.community_area .channel_box3 dl{}
.community_area .channel_box3 dt{}
.community_area .channel_box3 dd{}
.community_area .channel_box3 .list_notice{overflow:hidden;height:90px;}
.community_area .channel_box3 .list_notice li{margin-top:10px;letter-spacing:-1px}
.community_area .channel_box3 .list_notice li:first-child{margin-top:0;}
.community_area .channel_box3 .list_notice li a{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;}
.community_area .channel_box3 .list_customer{overflow:hidden;margin:-13px 0 0 -25px;}
.community_area .channel_box3 .list_customer li{float:left;width:125px;margin-top:13px;margin-left:25px;}
.community_area .channel_box3 .list_customer li a{display:block;position:relative;}
.community_area .channel_box3 .list_customer li a:after{display:block;content:'';position:absolute;top:3px;right:0;width:4px;height:5px;background:url(../img/sp_ico.png) no-repeat -90px 0;}

/* Containder[E] */